*{
    margin: 0;
}
body{
    display: grid;
    gap: 50px;
    background-image: linear-gradient(#02797E, #E7F00D);
    background-repeat: no-repeat;
    /* background-size: 300vh; */
    padding: 128px 0;

}

img{
    height: 180px;
    width: 180px;
    object-fit: contain;
}
a{
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    
}
div{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    justify-items: center;
    align-items: center;
    max-width: 900px;
    margin: auto;
}
.fa-leaf{
    color: #14532D;
}
.fa-hammer{
    color: #000;
}
a{
    text-decoration: none;
    font-size: 60px;
    /* cursor: context-menu; */
    /* &:hover img{
        /* animation: hooover 0.5s forwards ; 
        cursor: context-menu;
    } */
    /* &:hover i{
        /* animation: hooover 0.5s forwards ; */
        /* cursor: context-menu; 
    } */

}
h1{
    justify-self: center;
    /* font-family: ; */
    font-size: 30px;
}

@keyframes hooover {
    0%{
        transform: scale(1);
        transform: translateX(10);
    }
    100%{
        transform: scale(0);
        transform: translateX(-10);
        opacity: 0;
    }
}

@media screen and (max-width:660px) {
    div{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width:440px) {
    div{
        grid-template-columns: none;
    }

}