@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Permanent+Marker&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --titlefont: "Permanent Marker", cursive;
    --menufont: "Roboto", sans-serif;
    --textefont: "Open Sans", sans-serif;
    --green: #006A19;
    --ligthgray:#F2F4F2;
    --duck:#02797E;
    --gray: #69727D;
}

*{
    font-family: var(--textefont);
    font-size: 16px;
    margin: 0;
    position: relative;
    scroll-behavior: smooth;
}
.return{
    position: fixed;
    z-index: 1;
}
a{
    text-decoration: none;
    color: black;
}
section{
    padding: 50px 0;

}
.active{
    color: var(--green);
}
.btn-template{
    background-color: var(--green);
    padding: 8px 14px;
    color: #fff;
    font-family: var(--menufont);
    border-radius: 6px;
}
.title{
    font-size: 37px;
    font-family: var(--titlefont);
    font-weight: 400;
    color: var(--green);
}
.title-div{

    display: flex;
    align-items: center;
    gap: 26px;
    hr {
        border: none;
        border-top: 3px solid var(--green);
        overflow: visible;
        width: 80px;
    }
}
header{
    display: grid;
    justify-content: center;
    justify-items: center;
    gap: 30px;
    padding-bottom: 90px;
    img{
        height: 200px;
        object-fit: cover;
    }
    ul{
        display: flex;
        list-style: none;
        padding: 0;
        gap: 60px;
        font-family: var(--menufont);
    }
    #menu{
        display: none;
    }
}
footer{
    color: var(--green);
    text-align: center;
    padding: 26px 0;
}
#aboutus{
    background-color: var(--ligthgray);
    >div{
        max-width: 1440px;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        align-items: center;
        gap: 20px;
        img{
            width: 100%;
            max-height: 700px;
            object-fit: cover;
        }
        article{
            display: grid;
            gap: 50px;
            a{
                width: fit-content;
            }
            h1{
                text-transform: uppercase;
            }
        }
    }
}

#skill{
    display: grid;
    justify-items: center;
    max-width: 1440px;
    margin: auto;
    gap: 60px;

    div:nth-child(2){
        display: flex;
        gap: 20px;
        article{
            display: grid;
            justify-items: center;
            gap: 20px;
            padding: 10px;
            border-right: 1px solid var(--green);
            .title{
                color: var(--duck);
                display: grid;
                font-size: 21px;
                line-height: 22px;
                justify-items: center;
                gap: 20px;
                i{
                    font-size: 64px;
                }
            }
            p{
                text-align: center ;
            }
        }
        article:nth-child(4){border-right: none;}
    }
}

#client{
    background-color: var(--duck );
    padding: 80px 0;

    article{
        max-width: 1440px;
        margin: auto;
        .title-div{
            padding-bottom: 60px;
            h2{
                color: #fff;
            }
            hr{
                border-color: #fff;
            }

        }
        div:nth-child(2){
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            align-items: center;
            img{
                max-width: 180px;
                object-fit: cover;
                width: 100%;
            }
        }
    }
}

#project{
    display: grid;
    justify-items: center;
    gap: 30px;
    div:nth-child(2){
        display: flex;
        /* grid-template-columns: repeat(3, 1fr); */
        gap: 20px;
        /* max-height: 300px; */
        margin: auto;
        /* flex-wrap: wrap; */
        justify-content: center;
    }
    img{
        max-width: 460px;
        object-fit: cover;
        background-color: #0000001A;
        max-height: 300px;
        width: 100%;
    }
}

#contact{
    background-color: var(--ligthgray);
    article{
        max-width: 1440px;
        margin: auto;
        gap: 50px;
        display: flex;
        flex-direction: column;
        div:nth-child(2){
            max-width: 1140px;
            margin: auto;
            display: flex;
            align-items: center;
            gap: 50px;
            >div{
                width: 50%;
                p{
                    padding: 30px;
                }
                ul{
                    list-style: none;
                    padding-left: 30px;
                    display: grid;
                    gap: 16px;
                    i{
                        color: var(--green);
                        font-size: 18px;
                        margin-right: 6px;
                    }
                }
            }
            form{
                display: grid;
                width: 50%;
                input[type=text], input[type=email], textarea{
                    margin-bottom: 16px;
                    padding: 10px;
                    resize: none;
                    border: solid 1px var(--gray);
                }
                label{
                    padding-bottom: 10px;
                }
                input[type=checkbox]{
                    margin-right: 10px;
                }
                input[type=submit]{
                    width: fit-content;
                    border: none;
                    font-family: 16px;
                    padding: 10px 24px;
                    margin-top: 16px;
                }
            }
        }
    }
}

@media screen and (max-width:1024px) {
    #aboutus{
        div{
            padding: 0 20px;
        }
    }
    #skill{
        div{
            padding: 0 20px;
        }
    }
    #client{
        article{
            padding: 0 20px; 
            div{
                grid-template-columns: repeat(3, 1fr)
            }
        }
    }
    #project{
        div{
            flex-wrap: wrap;
        }
    }
    #contact{
        article{
            padding: 0 20px;
        }
    }
}

@media screen and (max-width:767px){
    hr{
        display: none;
    }
    header{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        padding-bottom: 60px;
        #menu{
            display: block;
        }
        ul{
            display: none;
        }
    }
    #aboutus{
        div{
            grid-template-columns: none;
        }
    }
    #skill{
        div{
            flex-wrap: wrap;
            article{
                border-right: none;
            }
        }
    }
    #client{
        article{
            div{
                grid-template-columns: repeat(2, 1fr);
                gap: 15px;
            }
        }
    }
    #project{
        img{
            width: auto;
        }
    }
    #contact{
        article{
            >div{
                flex-wrap: wrap;
                >div{
                    width: auto;
                }
                form{
                    width: auto;
                }
            }
        }
    }
}